html {
  font-size: 13px;
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
}

.content {
  width: 700px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  color: #7c7575;
}

@media screen and (max-width: 700px) {
  .content {
    width: 80%;
    padding: 10px;
  }
}

* {
  font-size: 1rem;
}

a {
  color: #7c7575;
  text-decoration:underline;
  }

h1,
h2 {
  font-weight: normal;
}

ul {
  padding: 0px;
}

li {
  list-style-type: none;
}

.fa-twitter {
  font-size: 16px;
}