body {
  font-family: 'Rubik', sans-serif;
}

h2 .tate-title {
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.box {
  color: #fff;
  height: 100vh;
  padding: 40px;
  position: relative;
}
.box1 {
  background: #fff;
}
.box2 {
  background: #E1E5E8;
}
.box3 {
  background: #C9D1D4;
}
.box4 {
  background: #B3BAC2;
}
.box5 {
  background: #9EA9AF;
}

.img-pos {
  position: relative;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%); /* Safari用 */
  transform: translateY(-50%);
  z-index: 0;
}

.text-pos {
  position: absolute;
  top:2%;
  right: 0;
}

.prop-pos {
  position: absolute;
  bottom:2%;
  left: 1.3%;
}


img .art {
  display: inline-block;
  border: 0;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  z-index: 1;
}

img .text {
  z-index: 10;
}


@media screen and (max-width: 499px) {
  /*　画面サイズ 499pxまで適用　*/
  
}
