html {
  font-size: 14px;
  font-family: 'Helvetica', 'Noto Sans JP', sans-serif;
  background: #f9f9f9;
}

.content {
  position: absolute;
  padding: 7% 15%;
  color: #3d3d3d;
}

@media screen and (max-width: 499px) {
  .content {
    padding: 10% 7%;
  }
}

* {
  font-size: 1rem;
}

a {
  color: #3d3d3d;
  text-decoration:underline;
  }

h1,
h2 {
  font-weight: normal;
}

ul {
  padding: 0px;
}

li {
  list-style-type: none;
}

hr {
  border: 30px solid transparent;
}

.en {
  color: #b8b0b0;
}

.fa-twitter {
  font-size: 16px;
}