/* -------------------------------- */
/*              base                */
/* -------------------------------- */

body {
    font-family: 'Noto Sans JP', sans-serif;
    color: #131313;
    overflow: hidden;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 23px;
}

p {
    font-size: 14px;
}

hr {
    border: 5px solid transparent;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: #131313;
}

.btn a {
    display: inline-block;
    text-decoration: none;
    border: solid 1px #131313;
    border-radius: 0px;
    padding: 2px 8px 3px 8px;
    margin: 10px 0px 10px 0px;
    cursor: pointer;
}

.sub {
    width: 100%;
    height: 100%;
}

.pagetop {
    z-index: 10;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

#arrow {
    width: 25px;
    opacity: .8;
    bottom: 2%;
    right: 0;
    transition: .4s;
}

#arrow:hover {
    filter: opacity(0.7);
    transition: .4s;
}

.flex {
    display: flex;
}

/* -------------------------------- */
/*              box                */
/* -------------------------------- */

.box {
    color: #fff;
    height: 100vh;
    padding: 40px;
    position: relative;
}

.box1 {
    background: #fff;
}

.box2 {
    background: #49A67D;
}

.box3 {
    background: #b8cbe0;
}

.box4 {
    background: #FEE981;
}

.box5 {
    background: #F8D1E2;
}

.box6 {
    background: #6DFAF5;
}

.box7 {
    background: #C1C2CD;
}

.box9 {
    background: #ce46b7;
}

.box10 {
    background: #3861d1;
}

.img-pos {
    position: relative;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%); /* Safari用 */
    transform: translateY(-50%);
    z-index: 0;
}

.text-pos {
    position: absolute;
    top: 2%;
    right: 0;
}

.prop-pos {
    position: absolute;
    bottom: 2%;
    left: 1%;
}

.art {
    display: inline-block;
    border: 0;
    width: 50%;
    height: auto;
    vertical-align: middle;
    z-index: 1;
    cursor: pointer;
    transition: .3s;
}

.art:hover {
    opacity: .9;
    transition: .4s;
}

.text {
    z-index: 10;
    width: 50%;
    height: auto;
}

/* -------------------------------- */
/*              modal               */
/* -------------------------------- */

.modalArea {
    display: none;
    position: fixed;
    z-index: 10; /*サイトによってここの数値は調整 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modalBg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modalWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    max-width: 800px;
    max-height: 500px;
    padding: 40px 50px 40px 50px;
    background-color: #fff;
    border-radius: 10px;
    overflow: auto;
}

.closeModal {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
}

/* -------------------------------- */
/*         contents detail          */
/* -------------------------------- */

#btn01, #btn02, #btn03 {
    margin-right: 10px;
}

.note-embed {
    height: 550px;
}

.brain-video {
    width: 640px;
    height: 360px;
}

.vrt-video {
    height: 500px;
    width: auto;
}

.mone-video {
    width: 560px;
    height: 315px;
}

.last-page-pos {
    position: relative;
    text-align: right;
}

.last-page-img {
    display: inline-block;
    border: 0;
    vertical-align: top;
}

#last-contact, #last-twitter, #last-web {
    width: 25px;
}

#last-artwork {
    width: 22px;
}

#last-arisa {
    width: 43px;
}

#modalArea2 .sub {
    max-height: 450px;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

#modalArea9 .sub {
    max-height: 450px;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

#modalArea10 .sub {
    height: 100%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

/* -------------------------------- */
/*             responsive           */
/* -------------------------------- */

@media screen and (max-width: 499px) {
    /*　画面サイズ 499pxまで適用　*/

    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }

    .btn a {
        margin: 5px 0px 5px 0px;
    }

    .prop-pos {
        left: 2%;
    }

    .art {
        width: 95%;
    }

    .text {
        width: 15px;
    }

    .text-pos {
        right: 2%;
    }

    .modalWrapper {
        min-width: 350px;
        height: auto;
        max-height: 400px;
        padding: 40px;
    }

    .flex {
        display: inline-block;
    }

    .brain-video {
        width: 100%;
        height: 100%;
    }

    .vrt-video {
        height: 450px;
        width: auto;
    }

    .mone-video {
        width: 100%;
        height: 100%;
    }

    #last-contact, #last-twitter, #last-web {
        width: 20px;
    }

    #last-artwork {
        width: 17px;
    }

    #last-arisa {
        width: 33px;
    }
}

@media screen and (max-width: 700px) {
    #modalArea2 .sub {
        width: 100%;
        height: 100%;
    }

    #modalArea9 .sub {
        width: 100%;
        height: 100%;
    }

    #modalArea10 .sub {
        width: 100%;
        height: 100%;
    }
}
