/* -------------------------------- */
/*              base                */
/* -------------------------------- */

body {
  font-family: "Noto Sans JP", sans-serif;
  color: #131313;
  overflow: hidden;
  /* cursor: none; */
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 23px;
}

p {
  font-size: 14px;
}

hr {
  border: 5px solid transparent;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #131313;
  cursor: pointer;
}

.btn a {
  display: inline-block;
  text-decoration: none;
  border: solid 1px #131313;
  border-radius: 0px;
  padding: 2px 8px 3px 8px;
  margin: 10px 0px 10px 0px;
}

.sub {
  width: 100%;
  height: 100%;
}

.sub__img {
  max-width: 600px;
  height: auto;
}

.pagetop {
  z-index: 10;
  position: fixed;
  right: 10px;
  bottom: 10px;
}

#arrow {
  width: 25px;
  opacity: 0.8;
  bottom: 2%;
  right: 0;
  transition: 0.4s;
}

#arrow:hover {
  filter: opacity(0.7);
  transition: 0.4s;
}

.flex {
  display: flex;
}

.l-small {
  max-width: 450px;
}

.l-black {
  transition: 0.5s;
  background: black;
}

.l-center {
  margin: 0 auto;
  display: block;
}

/* .cursor {
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 9px;
  height: 9px;
  background-color: black;
  z-index: 100;
  transition: transform ease 0.1s;
  mix-blend-mode: multiply;
} */

/* -------------------------------- */
/*              box                */
/* -------------------------------- */

.box {
  color: #fff;
  height: 100vh;
  padding: 40px;
  position: relative;
}

.box1 {
  background: #fff;
}

.box2 {
  background: #49a67d;
}

.box3 {
  background: #b8cbe0;
}

.box4 {
  background: #fee981;
}

.box5 {
  background: #f8d1e2;
}

.box6 {
  background: #6dfaf5;
}

.box7 {
  background: #c1c2cd;
}

/* .box9 {
  background: #ce46b7;
} */

.box10 {
  background: #d4d4d4;
}

.box11 {
  background: rgb(247, 247, 247);
}

.box12 {
  background: #c1c0c7;
}

.box13 {
  background: #ffffff;
}

.img-pos {
  position: relative;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%); /* Safari用 */
  transform: translateY(-50%);
  z-index: 0;
}
.img-pos:hover {
  cursor: pointer;
}

.text-pos {
  position: absolute;
  right: 0%;
  top: 2%;
}

.prop-pos {
  position: absolute;
  bottom: 2%;
  left: 1%;
}

.art {
  display: inline-block;
  width: 50%;
  height: auto;
  vertical-align: middle;
}
z .art:hover {
  opacity: 0.7;
  transition: 0.5s;
}

.text {
  z-index: 10;
  width: 50%;
  height: auto;
}

/* -------------------------------- */
/*              modal               */
/* -------------------------------- */

.modalArea {
  display: none;
  position: fixed;
  z-index: 10; /*サイトによってここの数値は調整 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  max-width: 800px;
  max-height: 500px;
  padding: 40px 50px 40px 50px;
  background-color: #fff;
  border-radius: 10px;
  overflow: auto;
}

.closeModal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
}

/* -------------------------------- */
/*         contents detail          */
/* -------------------------------- */

#btn01,
#btn02,
#btn03 {
  margin-right: 10px;
}

.note-embed {
  height: 550px;
}

.brain-video {
  width: 640px;
  height: 360px;
}

.vrt-video {
  height: 500px;
  width: auto;
}

.mone-video {
  width: 560px;
  height: 315px;
}

.last-page-pos {
  position: relative;
  text-align: right;
}

.last-page-img {
  display: inline-block;
  border: 0;
  vertical-align: top;
}

#last-contact,
#last-twitter,
#last-web {
  width: 25px;
}

#last-artwork {
  width: 22px;
}

#last-arisa {
  width: 43px;
}

#modalArea2 .sub {
  max-height: 450px;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

#modalArea9 .sub {
  max-height: 450px;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

#modalArea10 .sub {
  height: 100%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

/* -------------------------------- */
/*             responsive           */
/* -------------------------------- */

@media screen and (max-width: 499px) {
  /*　画面サイズ 499pxまで適用　*/

  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }

  .btn a {
    margin: 5px 0px 5px 0px;
  }

  .prop-pos {
    left: 2%;
  }

  .art {
    width: 95%;
  }

  .text {
    width: 15px;
  }

  .text-pos {
    right: 2%;
  }

  .modalWrapper {
    min-width: 350px;
    height: auto;
    max-height: 90%;
    padding: 40px 30px;
  }

  .flex {
    display: inline-block;
  }

  .brain-video {
    width: 100%;
    height: 100%;
  }

  .vrt-video {
    height: 450px;
    width: auto;
  }

  .mone-video {
    width: 100%;
    height: 100%;
  }

  #last-contact,
  #last-twitter,
  #last-web {
    width: 20px;
  }

  #last-artwork {
    width: 17px;
  }

  #last-arisa {
    width: 33px;
  }
}

@media screen and (max-width: 700px) {
  #modalArea2 .sub {
    width: 100%;
    height: 100%;
  }

  #modalArea9 .sub {
    width: 100%;
    height: 100%;
  }

  #modalArea10 .sub {
    width: 100%;
    height: 100%;
  }
}
